<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="2.2.1" targetFramework="net6.0-windows" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net6.0-windows" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net6.0-windows" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net6.0-windows" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net6.0-windows" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net6.0-windows" />
    <package id="NAudio.WinMM" version="2.2.1" targetFramework="net6.0-windows" />
   <package id="PortAudio.Net" version="19.7.0" targetFramework="net9.0-windows" />
    <package id="Serilog" version="3.1.1" targetFramework="net9.0-windows" />
   <package id="Serilog.Sinks.Console" version="5.0.1" targetFramework="net9.0-windows" />
   <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net9.0-windows" />
</packages>
